.featured {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;

    .featuredItem {
        flex: 1;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        color: #fff;
        height: 250px;
        box-shadow: 5px 8px 21px -6px rgba(0, 0, 0, 0.68);
        -webkit-box-shadow: 5px 8px 21px -6px rgba(0, 0, 0, 0.68);
        -moz-box-shadow: 5px 8px 21px -6px rgba(0, 0, 0, 0.68);

        .featuredImg {

            height: 255px;
            aspect-ratio: 1;
            object-fit: cover;
        }

        .featuredTitles {
            position: absolute;
            bottom: 0;
            // left: 20px;
            color: #fff;
            padding-left: 20px;
            padding-bottom: 20px;
            background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.9), rgba(1, 1, 1, 0));
            width: 100%;
        }
    }
}