.navbar {
    height: 50px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;

    .navContainer {
        width: 100%;
        max-width: 1024px;
        // background-color: red;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-weight: 500;
            font-size: 20px;
        }

        .navItems {
            .navButton {
                margin-left: 20px;
                border: none;
                padding: 5px 20px;
                cursor: pointer;
                color: var(--bg-color);
            }
        }
        .username{
           
            cursor: pointer;
            font-size: 20px;
            text-transform:capitalize ;
          
        }
        .logoutButton{
            text-decoration: underline;
            border: none;
            padding: 10px 15px;
            color: #fff;
            background: inherit;
            cursor: pointer;
            &:hover{
              color: red;
            }
        }
    }
}